@model IEnumerable<Vet.Domain.Atencion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sala.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoEspecialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorarioTurno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sala.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEspecialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorarioTurno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
