@model IEnumerable<Vet.Domain.Atencion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Crear nueva atencion", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th>
            @Html.Label("Nombre del Doctor", new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.Label("Nombre de la Sala", new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoEspecialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorarioTurno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sala.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEspecialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorarioTurno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
