<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title  Veterinaria</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1><p align="center">Veterinaria Pupies</p></h1>
        <marquee>Atencion personalizada. Abierto 24Hs los 7 dias de la semana</marquee>
    </header>

    <nav>
        Esto es el nav
    </nav>

    <section>
        @RenderBody()
    </section>

    <footer>
        <img src="~/Content/lvp.logo-soyvet-1.png" width="20" height="20" /> Derechos reservados por Puppies SA ~ 2019 
    </footer>

</body>
</html>


@*@RenderSection("scripts", required: false)
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
@*<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>*@

@*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@

@*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">*@
@*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@