@model IEnumerable<Vet.Domain.Turno>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Crear nuevo turno", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th>
            @Html.Label("Nombre del Doctor", new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.Label("Nombre del Paciente", new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoEspecialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abonado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cancelado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Atencion.Doctor.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEspecialidad)
        </td>
        <td>
            @Html.Raw(item.Fecha.ToShortDateString())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abonado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cancelado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalle", "Details", new { id = item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
        </td>
    </tr>
    }
</table>

